APP_NAME="AhluAlsunna"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://ahlualsunna.com

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=ahlualsunna_db
DB_USERNAME=ahlualsunna_user
DB_PASSWORD=STRONG_PASSWORD_HERE

CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

FILESYSTEM_DISK=local
SANCTUM_STATEFUL_DOMAINS=ahlualsunna.com

SUPER_ADMIN_PASSWORD=Change_This_Now!2024

RATE_LIMIT_API=60
RATE_LIMIT_FATWA_SUBMIT=3
